/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 324px;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colors =====*/
  --first-color: #CC4B2C;
  --first-color-dark: #662616;
  --first-color-darken: #290F09;
  --text-color: #54423D;
  --first-color-light: #EAE7E6;
  --first-color-lighten: #FFFAFA;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p{
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/*===== LAYOUT =====*/
header.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/*===== NAV =====*/
nav.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.nav .nav-toggle{
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

nav .nav-menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: .5s;
}

nav .nav-menu .nav-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}

nav .nav-menu ul.nav-list li.nav-item{
  margin-bottom: var(--mb-4);
}

nav .nav-menu ul.nav-list li.nav-item a.nav-link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

nav .nav-menu ul.nav-list li.nav-item a.nav-link:hover{
  color: var(--text-color);
}

/*=== Show menu ===*/
nav .nav-menu.show{
  left: 0;
}

/*Active menu*/
nav .nav-menu ul.nav-list li a.nav-link.active{
  color: var(--text-color);
}

/*===== HOME =====*/
section.home .home-container{
  height: calc(100vh - var(--header-height));
  align-items: center;
}
section.home .home-container .home-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

section.home .home-container .home-data .home-img{
  padding-top: 1.3rem;
  padding-left: .8rem;
  width: 160px;
  height: 160px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

section.home .home-container .home-data .home-img img{
  width: 155px;
}

section.home .home-container .home-data h1.home-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

section.home .home-container .home-data span.home-profession{
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}

section.home .home-container .home-data .home-social{
  margin-bottom: 5rem;
}

section.home .home-container .home-data .home-social a.home-social-link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

section.home .home-container .home-data .home-social a.home-social-link:hover{
  background-color: var(--first-color-dark);
}

section.home .home-container .home-data a.home-button{
  width: 100%;
}
/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover{
  background-color: var(--first-color-dark);
}

.button-light{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button-light:hover{
  color: var(--first-color-lighten);
}

/* ===== ABOUT =====*/
section.about .about-container{
  row-gap: 2rem;
}

section.about .about-container .about-data{
  text-align: center;
}

section.about .about-container .about-data p.about-description{
  margin-bottom: var(--mb-4);
}

section.about .about-container .about-data img.about-img{
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

section.about .about-container .about-information{
  margin-bottom: var(--mb-4);
}

section.about .about-container .about-information h3.about-information-title{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

section.about .about-container .about-information .about-information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

section.about .about-container .about-information .about-information-data i.about-information-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

section.about .about-container .about-information .about-information-data span.about-information-subtitle{
  display: block;
  font-weight: var(--font-semi-bold);
}
section.about .about-container .about-information .about-information-data span.about-information-subtitle-small{
  font-size: var(--small-font-size);
}

/* ===== SKILLS =====*/
section.skills .skills-container{
  row-gap: 2rem;
}

section.skills .skills-container .skills-content h3.skills-subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

section.skills .skills-container .skills-content .skills-data{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

section.skills .skills-container .skills-content .skills-data span.skills-name{
  text-transform: uppercase;
}

section.skills .skills-container .skills-content .skills-data span.skills-bar{
  position: absolute;
  bottom: -0.75rem;
  height: .25rem;
  background-color: var(--first-color);
}

/* ===== SKILLS BAR FRONTEND=====*/
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-html{
  width: 80%;
}
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-js{
  width: 90%;
}
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-react{
  width: 50%;
}
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-sass{
  width: 60%;
}

/* ===== SKILLS BAR BACKEND=====*/
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-php{
  width: 80%;
}
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-node{
  width: 70%;
}
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-mysql{
  width: 80%;
}
section.skills .skills-container .skills-content .skills-data span.skills-bar.skills-python{
  width: 10%;
}

/* ===== EDUCATION =====*/
section.education .education-container{
  row-gap: 2rem;
}

section.education .education-container .education-content{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

section.education .education-container .education-content h3.education-year,
section.education .education-container .education-content h3.education-race{
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

section.education .education-container .education-content span.education-university,
section.education .education-container .education-content span.education-speciality{
  display: block;
  font-size: var(--smaller-font-size);
}

section.education .education-container .education-content h3.education-year,
section.education .education-container .education-content span.education-university{
  text-align: right;
}

section.education .education-container .education-content .education-time{
  padding: 0 1rem;
  justify-self: center;
}

section.education .education-container .education-content .education-time span.education-rounder{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

section.education .education-container .education-content .education-time span.education-rounder::before{
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

section.education .education-container .education-content .education-time span.education-line{
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}

/* ===== SERVICES =====*/
section.services .services-container{
  row-gap: 2rem;
}

section.services .services-container .services-content{
  padding: 1.5rem 0.5rem;
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
  text-align: center;
}

section.services .services-container .services-content .services-icon{
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

section.services .services-container .services-content .services-title{
  font-size: 1.25rem;
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.services-content, .services-icon, .services-description, .services-title{
  transition: 0.5s;
}

section.services .services-container .services-content:hover{
  background-color: var(--first-color);
}

section.services .services-container .services-content:hover .services-icon{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

section.services .services-container .services-content:hover .services-title{
  color: var(--first-color-lighten);
}

section.services .services-container .services-content:hover .services-description{
  color: var(--first-color-lighten);
}

/* ===== PROJECT IN MIND  =====*/
section.project{
  background-color: var(--first-color);
  padding-bottom: 0;
}

section.project .project-container{
  row-gap: 2rem;
}

section.project .project-container .project-data{
  text-align: center;
}

.project-title, .project-description{
  color: var(--first-color-lighten);
}

section.project .project-container .project-data p.project-description{
  margin-bottom: var(--mb-4)  ;
}

section.project .project-container .project-data img.project-img{
  width: 220px;
  justify-self: center;
}

/* ===== WORKS =====*/
section.works .works-container{
  justify-items: center;
  row-gap: 2rem;
}

section.works .works-container .works-img{
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

section.works .works-container .works-img .works-data{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(204, 75, 44, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}

section.works .works-container .works-img .works-data .works-link{
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: var(--mb-2);
}

section.works .works-container .works-img .works-data .works-title{
  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
}

section.works .works-container .works-img:hover .works-data{
  bottom: 0;
}

/* ===== CONTACT =====*/


/* ===== FOOTER =====*/


/* ===== MEDIA QUERIES=====*/