/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 324px;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colors =====*/
  --first-color: #CC4B2C;
  --first-color-dark: #662616;
  --first-color-darken: #290F09;
  --text-color: #54423D;
  --first-color-light: #EAE7E6;
  --first-color-lighten: #FFFAFA;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p{
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/*===== LAYOUT =====*/
header.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/*===== NAV =====*/
nav.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.nav .nav__toggle{
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

nav .nav__menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: .5s;
}

nav .nav__menu .nav__close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}

nav .nav__menu ul.nav__list li.nav__item{
  margin-bottom: var(--mb-4);
}

nav .nav__menu ul.nav__list li.nav__item a.nav__link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

nav .nav__menu ul.nav__list li.nav__item a.nav__link:hover{
  color: var(--text-color);
}

/*=== Show menu ===*/
nav .nav__menu.show{
  left: 0;
}

/*Active menu*/
nav .nav__menu ul.nav__list li a.nav__link.active{
  color: var(--text-color);
}

/*===== HOME =====*/
section.home .home__container{
  height: calc(100vh - var(--header-height));
  align-items: center;
}
section.home .home__container .home__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

section.home .home__container .home__data .home__img{
  padding-top: 1.3rem;
  padding-left: .8rem;
  width: 160px;
  height: 160px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

section.home .home__container .home__data .home__img img{
  width: 155px;
}

section.home .home__container .home__data h1.home__title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

section.home .home__container .home__data span.home__profession{
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}

section.home .home__container .home__data .home__social{
  margin-bottom: 5rem;
}

section.home .home__container .home__data .home__social a.home__social-link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

section.home .home__container .home__data .home__social a.home__social-link:hover{
  background-color: var(--first-color-dark);
}

section.home .home__container .home__data a.home__button{
  width: 100%;
}
/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover{
  background-color: var(--first-color-dark);
}

.button__light{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button__light:hover{
  color: var(--first-color-lighten);
}

/* ===== ABOUT =====*/
section.about .about__container{
  row-gap: 2rem;
}

section.about .about__container .about__data{
  text-align: center;
}

section.about .about__container .about__data p.about__description{
  margin-bottom: var(--mb-4);
}

section.about .about__container .about__data img.about__img{
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

section.about .about__container .about__information{
  margin-bottom: var(--mb-4);
}

section.about .about__container .about__information h3.about__information-title{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

section.about .about__container .about__information .about__information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

section.about .about__container .about__information .about__information-data i.about__information-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

section.about .about__container .about__information .about__information-data span.about__information-subtitle{
  display: block;
  font-weight: var(--font-semi-bold);
}
section.about .about__container .about__information .about__information-data span.about__information-subtitle-small{
  font-size: var(--small-font-size);
}

/* ===== SKILLS =====*/
section.skills .skills__container{
  row-gap: 2rem;
}

section.skills .skills__container .skills__content h3.skills__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

section.skills .skills__container .skills__content .skills__data{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

section.skills .skills__container .skills__content .skills__data span.skills__name{
  text-transform: uppercase;
}

section.skills .skills__container .skills__content .skills__data span.skills__bar{
  position: absolute;
  bottom: -0.75rem;
  height: .25rem;
  background-color: var(--first-color);
}

/* ===== SKILLS BAR FRONTEND=====*/
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__html{
  width: 80%;
}
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__js{
  width: 90%;
}
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__react{
  width: 50%;
}
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__sass{
  width: 60%;
}

/* ===== SKILLS BAR BACKEND=====*/
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__php{
  width: 80%;
}
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__node{
  width: 70%;
}
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__mysql{
  width: 80%;
}
section.skills .skills__container .skills__content .skills__data span.skills__bar.skills__python{
  width: 10%;
}
/* ===== EDUCATION =====*/


/* ===== SERVICES =====*/


/* ===== PROJECT IN MIND  =====*/


/* ===== WORKS =====*/


/* ===== CONTACT =====*/


/* ===== FOOTER =====*/


/* ===== MEDIA QUERIES=====*/